*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
  margin: 0;
}

body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
blockquote {
  margin: 0;
}

ol,
ul {
  padding: 0;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
}

textarea {
  resize: vertical;
}

img,
picture,
svg,
canvas {
  display: block;
  max-width: 100%;
}
